{% extends "base.html" %}

{% block content %}    
    <div class="container">
        <div class="about">
            <p class="title">How to Use</p>
            <div class="grid">
                <div>
                    <p class="number">1</p>
                    <img class="pic_square" src="{{ url_for('image.static', filename = '00_how_to_use/1.jpg') }}" alt="">
                </div>
                <div>
                    <p class="number">2</p>
                    <img class="pic_square" src="{{ url_for('image.static', filename = '00_how_to_use/2.jpg') }}" alt="">
                </div>
                <div>
                    <p class="number">3</p>
                    <img class="pic_square" src="{{ url_for('image.static', filename = '00_how_to_use/3.jpg') }}" alt="">
                </div>
                <div>
                    <p class="number">4</p>
                    <img class="pic_square" src="{{ url_for('image.static', filename = '00_how_to_use/4.jpg') }}" alt="">
                </div>
            </div>
            <div class="steps">
                <p class="text">1. When you are stuck for ideas...</p>
                <p class="text">2. Pick up a card!</p>
                <p class="text">3. Be inspired and let your brain wander...</p>
                <p class="text">4. Generate and capture your idea!</p>
            </div>
        </div>
    </div> 
{% endblock %}