{% extends "base.html" %}

{% block content %}
<div>
    <!-- password table -->
    <div>
        <h1>LOGIN-PASS LIST</h1>
        <br>
        <table>
            <th>LABEL</th>
            <th>PASS</th>
            <th>DURATION</th>
            <th>ADMIN</th>
            {% for pslt in pass_list %}
            <tr>
                <td>{{ pslt.label }}</td>
                <td>{{ pslt.pass }}</td>
                <td>{{ pslt.duration }}</td>
                <td>{{ pslt.isAdmin }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <br>

    <!-- ADD/DELETE button -->
    <button type="button" id="formButton">ADD</button>
    <button type="button" id="deleteButton">DELETE</button>
    <br>

    <!-- add menu -->
    <form id="form" action="/en/admin" method="post">
        <div>
            <div class="field">
                <label class="label">LABEL</label>
                <div class="control">
                    <input id="label" name="label" class="input" type="text" placeholder="label" required>
                </div>
            </div>
            <div class="field">
                <label class="label">PASS</label>
                <div class="control">
                    <input id="pass" name="pass" class="input" type="text" placeholder="pass" required>
                </div>
            </div>
            <div class="field">
                <label class="label">DURATION</label>
                <div class="control">
                    <input id="duration" name="duration" class="input" type="number" placeholder="duration" min="1"
                        max="365" required>
                </div>
            </div>
            <div class="field">
                <label class="label">ADMIN</label>
                <div class="control">
                    <input id="isAdmin" name="isAdmin" class="input" type="radio" value="true">&nbsp;true
                    <input id="isAdmin" name="isAdmin" class="input" type="radio" value="false" checked>&nbsp;false
                </div>
            </div>
        </div>
        <button type="submit" name="button">add</button>
    </form>

    <!-- delete menu -->
    <form id="list" action="/en/admin" method="POST">
        <div class="field">
            <label class="label">LABEL</label>
            <div class="control">
                <select name="label" id="deletePASS">
                    {% for pslt in pass_list %}
                        <option value="{{ pslt.label }}">{{ pslt.label }}</option>
                    {% endfor %}
                </select>
            </div> 
        </div>
        <button type="submit" name="button">delete</button>
    </form>
</div>



<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->

<script>
    // add menu toggle
    $(document).ready(function () {
        $("#formButton").click(function () {
            $("#form").toggle();
        });
    });

    // delete menu toggle
    $(document).ready(function () {
        $("#deleteButton").click(function () {
            $("#list").toggle();
        });
    });
    
    // object of the form
    var form = document.forms.contactForm;
    
    // add form
    /* this function receives the from and sends it using ajax */
    function sendFrom(e) {
        $(form).submit(function (e) {
            // prevent POSTing
            e.preventDefault();

            var formData = $(form).serialize();

            $.ajax({
                type: 'POST',
                url: '/en/admin',
                data: JSON.stringify(formData)
            })

            .done(function(response) {
                //if successed, reset form inputs
                $('form : input').val('');
            })

            .fail(function(response) {
                //if failed,,,
            });
        });
    };
</script>

{% endblock %}