<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin page</title>
</head>

<body> -->

{% extends "base.html" %}

{% block content %}

    <div id="passwd" class="container">
        <table>
            <tr>
                <th>lable</th>
                <th>pass</th>
                <th>duration</th>
                <th>isAdmin</th>
            </tr>
        </table>
        <table border=10>
            <tr>
                <td v-for="password in passwords">{{ password.label }}</td>
            </tr>
            <tr>
                <td v-for="password in passwords">{{ password.pass }}</td>
            </tr>
            <tr>
                <td v-for="password in passwords">{{ password.duration }}</td>
            </tr>
            <tr>
                <td v-for="password in passwords">{{ password.isAdmin }}</td>
            </tr>
        </table>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#passwd',
            data: {
                passwords: {}
            },
            mounted: function () {
                var self = this;
                $.getJSON('/app/settings02.json', function (json) {
                    self.passwords = json.pass;
                });
            }
        })
    </script>

{% endblock %}

<!-- </body>

</html> -->