{% extends "base.html" %}

{% block content %}    
    <div class="body">
        <div class="slidershow middle">
            <div class="slides">
                <input type="radio" name="r" id="r1" checked>
                <input type="radio" name="r" id="r2">
                <input type="radio" name="r" id="r3">
                <input type="radio" name="r" id="r4">
                <input type="radio" name="r" id="r5">
                {% if cards_folder == "rammojammo_cards" %}
                    <div class="slide s1">
                        <img class="rammojammo_slide_img" src="{{ url_for('image.static', filename = cards_folder + '/card-1.jpg') }}" alt="">
                    </div>
                    <div class="slide">
                        <img class="rammojammo_slide_img" src="{{ url_for('image.static', filename = cards_folder + '/card-2.jpg') }}" alt="">
                    </div>
                    <div class="slide">
                        <img class="rammojammo_slide_img" src="{{ url_for('image.static', filename = cards_folder + '/card-3.jpg') }}" alt="">
                    </div>
                    <div class="slide">
                        <img class="rammojammo_slide_img" src="{{ url_for('image.static', filename = cards_folder + '/card-4.jpg') }}" alt="">
                    </div>
                    <div class="slide">
                        <img class="rammojammo_slide_img" src="{{ url_for('image.static', filename = cards_folder + '/card-5.jpg') }}" alt="">
                    </div>
                {% else %}
                    <div class="slide s1">
                        <img class="slide_img" src="{{ url_for('image.static', filename = cards_folder + '/card-1.jpg') }}" alt="">
                    </div>
                    <div class="slide">
                        <img class="slide_img" src="{{ url_for('image.static', filename = cards_folder + '/card-2.jpg') }}" alt="">
                    </div>
                    <div class="slide">
                        <img class="slide_img" src="{{ url_for('image.static', filename = cards_folder + '/card-3.jpg') }}" alt="">
                    </div>
                    <div class="slide">
                        <img class="slide_img" src="{{ url_for('image.static', filename = cards_folder + '/card-4.jpg') }}" alt="">
                    </div>
                    <div class="slide">
                        <img class="slide_img" src="{{ url_for('image.static', filename = cards_folder + '/card-5.jpg') }}" alt="">
                    </div>
                {% endif %} 
            </div>
        </div>
        <div class="navigation">
            <label for="r1" class="bar"></label>
            <label for="r2" class="bar"></label>
            <label for="r3" class="bar"></label>
            <label for="r4" class="bar"></label>
            <label for="r5" class="bar"></label>
        </div>
    </div>
    
    <div class="description">
        {% if cards_folder == "rammojammo_cards" %}
        <p class="title">rammo jammo card</p>
        {% elif cards_folder == "extremedirection_cards" %}
        <p class="title">extreme direction card</p>
        {% elif cards_folder == "competitiveadvantage_cards" %}
        <p class="title">competitive advantage card</p>
        {% elif cards_folder == "roadsign_cards" %}
        <p class="title">road sign card</p>
        {% else %}
        <p class="title">{{ card_name }}</p>    
        {% endif %}
        <!-- <div class="text" id="TextDisplayAreaID"></div> -->
        <!-- <p class="text">
            <embed src="{{ url_for('image.static', filename = cards_folder + '/description.txt') }}" type="">
        </p> -->

        {% if cards_folder == "character_cards" %}
            <p class="text">
                {{_('Usually you are trying to think about ideas for people right? So sometimes it is good to start with a person and think of an idea for them.')}}<br>
                <br>
                {{_('Take a card, on each card there is an image of a person and a name that describes their character. None of them are normal people but rather one of a range of unusual characters.')}}<br>
                <br>
                {{_('Let your imagination go to work, how does the character on the card inspire you, what ideas can you think of?')}}
            </p>
        {% elif cards_folder == "context_cards" %}
            <p class="text">
                {{_('Ideas are almost always located in a place, correct?')}}<br>
                <br>
                {{_('In this set of cards there are a wide range of different places and spaces, take a card and think what kind of ideas are inspired from that place. Maybe you can think of ideas specifically for that place, or the place on the card catalyzes a new idea.')}}<br>
                <br>
                {{_('There are 48 cards most are everyday spaces, but one set of 6 cards are of extreme environments.')}}
            </p>
        {% elif cards_folder == "parameter_cards" %}
            <p class="text">
                {{_('These cards are useful when you already know you are designing a specific product or service (e.g. a new type of kettle, or a new type of banking service).')}}<br>
                <br>
                {{_('Each of these cards has a different parameter on it, like price, weight, size, etc. Take a card and see if you can think of an idea that responds to that card.')}}<br>
                <br>
                {{_('e.g. you pick a super low costs card and you are thinking of a new type of kettle - can you think of an idea for a $1 kettle?')}}
            </p>
        {% elif cards_folder == "rammojammo_cards" %}
            <p class="text">
                {{_('Ideas don’t come from thin air - they need a seed. Especially if you want to generate and explore a super wide spectrum of ideas you need a stimulus to make your brain go there, these cards are just for that.')}}<br>
                <br>
                {{_('These are a very diverse range of cards, each one has an image and a set of words on the back describing the image. Look at the image and/or look at the words and let your mind create ideas inspired by the cards.')}}<br>
                <br>
                {{_('Rammo Jammo are great for creating ideas in the far corners of your creative space!')}}
            </p>
        {% elif cards_folder == "roadsign_cards" %}
            <p class="text">
                {{_('Ideas don’t come from thin air - they need a seed. Especially if you want to generate and explore a super wide spectrum of ideas you need a stimulus to make your brain go there, these cards are just for that.')}}<br>
                <br>
                {{_('These are a very diverse range of cards, each one has an image and a set of words on the back describing the image. Look at the image and/or look at the words and let your mind create ideas inspired by the cards.')}}<br>
                <br>
                {{_('Rammo Jammo are great for creating ideas in the far corners of your creative space!')}}
            </p>
        {% elif cards_folder == "extremedirection_cards" %}
            <p class="text">
                {{_('Ideas don’t come from thin air - they need a seed. Especially if you want to generate and explore a super wide spectrum of ideas you need a stimulus to make your brain go there, these cards are just for that.')}}<br>
                <br>
                {{_('These are a very diverse range of cards, each one has an image and a set of words on the back describing the image. Look at the image and/or look at the words and let your mind create ideas inspired by the cards.')}}<br>
                <br>
                {{_('Rammo Jammo are great for creating ideas in the far corners of your creative space!')}}
            </p>
        {% elif cards_folder == "competitiveadvantage_cards" %}
            <p class="text">
                {{_('Ideas don’t come from thin air - they need a seed. Especially if you want to generate and explore a super wide spectrum of ideas you need a stimulus to make your brain go there, these cards are just for that.')}}<br>
                <br>
                {{_('These are a very diverse range of cards, each one has an image and a set of words on the back describing the image. Look at the image and/or look at the words and let your mind create ideas inspired by the cards.')}}<br>
                <br>
                {{_('Rammo Jammo are great for creating ideas in the far corners of your creative space!')}}
            </p>
        {% endif %}
    </div>

    <div class="button">
        <a href="{{ url_for('multilingual.cards_deal', cards_folder = cards_folder) }}">
            <button class="deal" onclick="randomize_image()">START</button>
        </a>
    </div>
    
    <div class="description"> 
        {% if cards_folder == "character_cards" %}
            <p class="copyright_inline">
                Concept by Yoon Bahk and Miles Pennington<br>
                Artwork by Yoon Bahk<br>
                <br>
                &copy; 2013 Yoon Bahk and Miles Pennington. All rights reserved.<br>
            </p>
        {% elif cards_folder == "context_cards" %}
            <p class="copyright_inline">
                Concept by Yoon Bahk and Miles Pennington<br>
                Artwork Direction by Yoon Bahk<br>
                Artwork by Joel Trotter<br>
                <br>
                &copy; 2015 Yoon Bahk and Miles Pennington. All rights reserved.
            </p>
        {% elif cards_folder == "parameter_cards" %}
            <p class="copyright_inline">
                Concept by Miles Pennington<br>
                Artwork by Marjan Angoshtari<br>
                <br>
                &copy; 2013 Miles Pennington. All rights reserved.<br>
            </p>
        {% elif cards_folder == "rammojammo_cards" %}
            <p class="copyright_inline">
                Concept by Yoon Bahk<br>
                Artwork by Yoon Bahk<br>
                <br>
                &copy; 2012 Yoon Bahk. All rights reserved.
            </p>
        {% elif cards_folder == "extremedirection_cards" %}
            <p class="copyright_inline">
                Concept by Yoon Bahk and Miles Pennington<br>
                Artwork by xxx<br>
                <br>
                &copy; 20xx Yoon Bahk and Miles Pennington. All rights reserved.
            </p>
        {% elif cards_folder == "competitiveadvantage_cards" %}
            <p class="copyright_inline">
                Concept by Miles Pennington and Tim Corvin<br>
                Artwork by Sheana Yu and Tim Corvin<br>
                <br>
                &copy; 2016 Miles Pennington and Tim Corvin. All rights reserved.
            </p>
        {% elif cards_folder == "roadsign_cards" %}
            <p class="copyright_inline">
                Concept by Miles Pennington<br>
                Artwork by Audrey Gaulard<br>
                <br>
                &copy; 20xx Miles Pennington. All rights reserved.
            </p>
        {% endif %}
    </div>

    <!-- <script>
        window.onload = function() {
            // The File to load
            var file = "{{ url_for('image.static', filename = cards_folder + '/description.txt') }}"
            console.log(file)
            // The area in the HTML page to update
            var textDisplayArea = document.getElementById('TextDisplayAreaID');
            // Creaet a file reader
            var reader = new FileReader();
            // A function that runs when the file is loaded
            reader.addEventListener("loadend", function() {
                // update the "textDisplayArea" with the file content
                textDisplayArea.innerText = reader.result;
            })

            // Load and read the file
            reader.readAsText(file);	
        };
    </script> -->
{% endblock %}