{% extends "base.html" %}

{% block content %}    
    <!--
    <p class="title">Welcome to Card Randomizer!</p> 
    -->
    <div class="container">
        <div class="block">
            <div class="pic">
                <a href="{{ url_for('multilingual.cards_home', card_type = 1) }}"><img src="{{ url_for('image.static', filename='character_cards/card-0.jpg') }}"></a>
            </div>
            <p class="name">CHARACTER<br>CARD</p>
        </div>
        <div class="block">
            <div class="pic">
                <a href="{{ url_for('multilingual.cards_home', card_type = 2) }}"><img src="{{ url_for('image.static', filename='context_cards/card-0.jpg') }}"></a>
            </div>
            <p class="name">CONTEXT<br>CARD</p>
        </div>
        <div class="block">
            <div class="pic">
                <a href="{{ url_for('multilingual.cards_home', card_type = 3) }}"><img src="{{ url_for('image.static', filename='parameter_cards/card-0.jpg') }}"></a>
            </div>
            <p class="name">PARAMETER<br>CARD</p>
        </div>
        <div class="block">
            <div class="pic">
                <a href="{{ url_for('multilingual.cards_home', card_type = 4) }}"><img src="{{ url_for('image.static', filename='rammojammo_cards/card-0.jpg') }}"></a>
            </div>
            <p class="name">RAMMO JAMMO<br>CARD</p>
        </div>
        <div class="block">
            <div class="pic">
                <a href="{{ url_for('multilingual.cards_home', card_type = 5) }}"><img src="{{ url_for('image.static', filename='extremedirection_cards/card-0.jpg') }}"></a>
            </div>
            <p class="name">EXTREME DIRECTION<br>CARD</p>
        </div>
        <div class="block">
            <div class="pic">
                <a href="{{ url_for('multilingual.cards_home', card_type = 6) }}"><img src="{{ url_for('image.static', filename='competitiveadvantage_cards/card-0.jpg') }}"></a>
            </div>
            <p class="name">COMPETITIVE ADVANTAGE<br>CARD</p>
        </div>
        <div class="block">
            <div class="pic">
                <a href="{{ url_for('multilingual.cards_home', card_type = 7) }}"><img src="{{ url_for('image.static', filename='roadsign_cards/card-0.jpg') }}"></a>
            </div>
            <p class="name">ROAD SIGN<br>CARD</p>
        </div>
    </div> 

{% endblock %}