<html Lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Card Randomizer Login</title>
</head>

<body>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    
    <div class="login">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <!-- <ul class="flashes">
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>   -->
                {% for category, message in messages %}
                    <div class="alert {{ category }}">
                        {{ message|capitalize }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <form action="/login" method="post"> 
            <div class="box">
                <input class="psw" type="password" placeholder="Password" name="psw" required>
                <button class="enter" type="submit">
                    <i class="fas fa-arrow-circle-right arrow"></i>
                </button>
            </div>
        </form>
    </div>
</body>

</html>
    

