/*
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
head, header {overflow: hidden;}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}summary{display:list-item}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea,optgroup{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
/*
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5; overflow:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.w3-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.w3-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
body, html {height: 100%}
body, html{margin:0; padding:0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background-color: #ffffff;}
*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.wrapper {
    min-height: 100vh;
    position: relative;
    width: 100%;
    padding-bottom: 120px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*---------------------------------------------------------------*/
/* login */
/*---------------------------------------------------------------*/
.login {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.password_box {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}
input.psw {
    width: 250px;
    height: 35px;
    margin: 8px;
    padding: 6px 20px;
    font-size: 16px;
    /* display: inline-block; */
    border: 1px solid grey;
    border-radius: 20px;
    /* box-sizing: border-box; */
}
input.psw:focus {
    outline: none;
}
button.enter {
    background-color: transparent;
    margin-left: 20px;
    border: none;
    cursor: pointer;
}
button.enter:focus {
    outline: none;
}
.arrow {
    font-size: 2.2em;
    transition: all 0.2s ease;
}
.arrow:hover {
    color: rgb(212, 212, 97);
}
.arrow:focus {
    outline: none;
}
a.back {
    text-decoration: none;
    margin: 8px;
    padding: 0px 20px;
    font-size: 16px;
}

/* flash messages */
.alert.success {
    position: absolute;
    top: 50%;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: rgb(0, 200, 0);
    padding-top: 40px;
    padding-right: 110px;
}
.alert.error {
    position: absolute;
    top: 50%;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: red;
    padding-top: 40px;
    padding-right: 130px;
}



/*---------------------------------------------------------------*/
/* header */
/*---------------------------------------------------------------*/
header {
    position: fixed;
    z-index: 2;
    background-color: #ffffffee;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: end;
}

nav {
    height: 120px;
    width: 1024px;
    margin: auto;
    padding-right: 40px;
    padding-left: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

nav h1 {
    margin-right: auto;
}

.image {
    width: 90px;
    /* transition: 0.3s ease; */
}
/* .image:hover {
    filter: drop-shadow(3px 3px 3px #aaa);
} */

.nav-links {
    display: flex;
    justify-content: flex-end;
    width: auto;
}

.nav-links li {
    margin-left: 30px;
    list-style: none;
}

/* menu bar text */
/*
.nav-links a {
    color: grey;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 12px;
}
*/
.hover_line {
    color: #000000;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 15px;
    display: inline-block;
    position: relative;
    text-decoration: none;
}
.hover_line::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 0;
    height: 1.5px;
    background: #000000;
    transition: all 0.5s ease;
}
.hover_line:hover {
    cursor: pointer;
}
.hover_line:hover::after {
    width: 100%;
}

/* language picker */
.lang a {
    color: #000000;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 12px;
    padding-top: 4px;
    display: inline-block;
    position: relative;
    text-decoration: none;
}
.lang a:hover {
    cursor: pointer;
    font-weight: bold;
}

/* admin */
.admin a {
    position: relative;
    top: 2px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 600;
    padding-top: 1px;
    padding-bottom: 3px;
    padding-left: 12px;
    padding-right: 12px;
    border-style: solid;
    border-width: 1.5px;
    border-color: #000000;
    color: #000000;  
    transition: all 0.5s ease;
    
    /* remove underline */
    text-decoration: none;

    /* corner radius */
    border-radius: 20px;
}
.admin a:hover {
    color: #ffffff;
    background-color: #000000;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 2px;
    background-color: #000000;
    margin: 5px;
    transition: all 0.4s ease;
}


/*---------------------------------------------------------------*/
/* main */
/*---------------------------------------------------------------*/
main {
    flex: auto;
    width: 100%;
    margin-top: 120px;
}

/*------------------- home page -------------------*/
.container {
    width: 1024px;
    margin: 50 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
}
.block {
    width: auto;
    height: auto;
    margin: 10 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: auto;
}
.pic {
    height: auto;
}
.pic img {
    margin: 10px;
    position: relative;
    height: 250px;
    border-radius: 10px;
    filter: drop-shadow(3px 3px 3px #aaa);
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.pic img:hover {
    transform: translateY(-0.5em);
}

.name {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.card_home_wide {
    width: 40%;
    margin: 20 auto;
    display: flex;
    align-items: center;
}

/*------------------- image slider -------------------*/
.body {
    height: auto;
    margin-top: 40px;
    padding: 0;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.slidershow {
    height: 450px;
    width: 100%;
    overflow: hidden;
}

.navigation {
    margin-top: 5px;
    display: flex;
    justify-content: center;
}
.bar {
    width: 10px;
    height: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 6px;
    cursor: pointer;
    transition: 0.5s;
}
.bar:hover {
    background: grey;
}

input[name="r"] {
    position: absolute;
    visibility: hidden;
}

.slides {
    width: 500%;
    height: 100%;
    display: flex;
    justify-content: start;
}

.slide {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.6s;
}

.slide_img {
    height: 400px;
    width: auto;
    border-radius: 15px;
    filter: drop-shadow(3px 3px 3px #aaa);
    position: relative;
    z-index: 0;
}
.rammojammo_slide_img {
    height: auto;
    width: 600px;
    border-radius: 15px;
    filter: drop-shadow(3px 3px 3px #aaa);
    position: relative;
    z-index: 0;
}

#r1:checked ~ .s1 {
    margin-left: 0;
}
#r2:checked ~ .s1 {
    margin-left: -20%;
}
#r3:checked ~ .s1 {
    margin-left: -40%;
}
#r4:checked ~ .s1 {
    margin-left: -60%;
}
#r5:checked ~ .s1 {
    margin-left: -80%;
}

/*------------------- card page -------------------*/
.card_deal {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}
.card_deck {
    display: flex;
    justify-content: center;
}
.card_deck img {
    height: 400px;
    width: auto;
    border-radius: 15px;
    filter: drop-shadow(3px 3px 3px #aaa);
}

/*------------------- login-pass list -------------------*/
/* table */
.container_vertical {
    width: 1024px;
    margin: 50 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
table {
    border-collapse: collapse;
}
th {
    border-bottom: 3px solid black;
    width: 200px;
    height: 80px;
    text-align: left;
    font-size: 16px;
}
th, td {
    padding: 25px;
    /* font-family: 'Poppins', sans-serif; */
}
td {
    border-bottom: 0.1px solid black;
}

/* add/delete button */
button.AD_button {
    margin: 10px;
    background-color: transparent;
    margin-left: 20px;
    border: none;
    cursor: pointer;
}
button.AD_button:focus {
    outline: none;
}
.pm {
    font-size: 2.5em;
    transition: all 0.2s ease;
}
.pm:hover {
    color: gray;
}
.pm:focus {
    outline: none;
}

/* add/delete menu */
.form {
    margin-top: 20px;
    display: flex;
    text-align: center;
}
.field {
    /* background-color: burlywood; */
    width: auto;
    display: flex;
    flex-direction: row;
}
.label {
    text-align: left;
    width: 80px;
    margin-top: 4px;
    margin-right: 20px;
    padding: 10px;
    font-size: 14px;
}
.control {
    margin: 10px 10px;
    width: 150px;
    display: flex;
}
.control input {
    height: 25px;
    width: auto;
    font-size: 12px;
    padding-left: 8px;
    border: 1px solid grey;
    border-radius: 5px;
}
#deletePASS {
    height: 25px;
    font-size: 12px;
    padding-left: 10px;
    border: 1px solid grey;
    border-radius: 5px;
}
button.enter {
    font-family: Poppins;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 20px;
    padding: 5px 15px;
    color: #ffffff;
    background-color: #000000;
    border-style: none;
    border-radius: 20px;
    transition: all 0.2s ease;
    }
button.enter:hover{
    background-color: grey;
}
button.enter:focus{
    outline: none;
}
/*------------------- rammojammo card -------------------*/
/*------------------- popup note -------------------*/
/* .popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: .6s;
}
.popup.is-show {
    opacity: 1;
    visibility: visible;
}
.popup-inner {
    position: absolute;
    left: 50%;
    top: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(-50%,-50%);
    width: 80%;
    max-width: 600px;
    padding: 50px;
    background-color: #fff;
    z-index: 2;
}
.popup-inner img {
    width: 100%;
}
.close-btn {
    position: absolute;
    right: 0;
    top: 20;
    width: 60px;
    height: 50px;
    line-height: 80px;
    text-align: center;
    cursor: pointer;
}
.close-btn i {
    font-size: 25px;
    color: #333;
}
.black-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    z-index: 1;
    cursor: pointer; 
}*/
/*------------------- flip -------------------*/
.flip_card {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 280px;
    height: 320px;
    /* perspective: 1000px; */
}
.flip_card_inner {
    position: relative;
    width: 100%;
    height: 100%;
    /* transition: transform 0.6s; */
    /* transform-style: preserve-3d; */
}
.flip_card_front, .flip_card_back {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.flip_card_back {
    transform: rotateY(180deg);
}
.img_front, .img_back {
    height: 320px;
    width: 280px;
    border-radius: 15px;
    filter: drop-shadow(3px 3px 3px #aaa);
}
.alert_text {
    font-size: 14px;
    font-weight: 600;
    color: grey;
    margin-top: 40px;
}

/* description */
.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;

}

.title {
    font-family: Poppins;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

.text {
    width: 600px;
    height: auto;
    text-align: justify;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 200;
    letter-spacing: 1px;
    margin-top: 20px auto;
}
.copyright_inline {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
    font-weight: 500;
    color: rgb(100, 100, 100);
    letter-spacing: 0.5px;
    text-decoration: none;
    text-align: center;
}

.counter {
    font-family: Poppins;
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 40px;
}

.button {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

button.deal {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 2px;
    padding: 5px 20px;
    color: #ffffff;
    background-color: #000000;
    border-style: none;
    border-radius: 20px;
    transition: all 0.2s ease;
}
button.deal:hover{
    background-color: grey;
}
button.deal:focus{
    outline: none;
}

/*---------------------------------------------------------------*/
/* footer */
/*---------------------------------------------------------------*/
footer {
    position: absolute;
    bottom: 0; /* fixed at the bottom */
    width: 100%;
    background-color: rgba(245, 245, 245, 0.582);
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
/* copyright */
.copyright {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
    font-weight: 500;
    margin: 15px;
    color: rgb(100, 100, 100);
    letter-spacing: 0.5px;
    text-decoration: none;
}
.copyright:hover {
    color: #000000;
}






/*-----------------------------------------------------------------------*/
/* responsible */
/*-----------------------------------------------------------------------*/



/* tablet */
@media screen and (max-width:1024px) {
    body {
        overflow-x: hidden;
    }

    /* login */
    input.psw {
        width: 300px;
        height: 40px;
        font-size: 16px;
        padding: 8px 20px;
        border: 1px solid grey;
        border-radius: 20px;
    }
    button.enter {
        margin-left: 30px;
    }
    .arrow {
        font-size: 2.5em;
    }

    /* flash messages */
    .alert.success {
        font-size: 18px;
        padding-top: 50px;
        padding-right: 158px;
    }
    .alert.error {
        font-size: 18px;
        padding-top: 50px;
        padding-right: 180px;
    }

    nav {
        width: 100%;
    }

    .image {
        width: 80px;
    }

    .nav-links {
        position: fixed;
        z-index: 1;
        right: 0px;
        height: 100vh;
        top: 0px;
        padding-right: 50px;
        padding-top: 0px;
        background-color: #ffffffee;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        width: 50%;
        transform: translateX(100%);
        transition: transform 1.2s ease;
    }

    .nav-links li {
        opacity: 0;
        height: 60px;
        display: flex;
        align-items: center;
    }

    .nav-links a {
        color: #000000;
        text-decoration: none;
        letter-spacing: 1px;
        font-weight: 200;
        font-size: 24px;
    }

    .lang a {
        font-size: 16px;
    }
    
    .admin a {
        font-size: 12px;
    }

    .burger {
        display: block;
        z-index: 2;
    }

    /* body */
    .container {
        width: auto;
        flex-wrap: wrap;
    }

    .block {
        width: 40%;
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 30px;
    }

    /* card_deal image scaler */
    .card_deck img {
        height: auto;
        width: 70%;
        margin: auto;
    }

    .text {
        width: 500px;
    }

}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px,5px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-5px);
}




/*-----------------------------------------------------------------------*/
/* smartphone */

@media screen and (max-width:480px) {
    /* body */
    .wrapper {
        height: auto;
        padding-bottom: 200px;
    }

    /* login */
    .box {
        width: 100%;
    }
    input.psw {
        width: 200px;
        height: 30px;
        font-size: 14px;
        padding: 8px 16px;
        border: 1px solid grey;
        border-radius: 20px;
    }
    button.enter {
        margin-left: 20px;
    }
    .arrow {
        font-size: 2.2em;
    }

    /* flash messages */
    .alert.success {
        font-size: 15px;
        padding-top: 35px;
        padding-right: 75px;
    }
    .alert.error {
        font-size: 15px;
        padding-top: 35px;
        padding-right: 97px;
    }

    /* header */
    nav {
        width: 100%;
        height: 80px;
        padding-right: 30px;
        padding-left: 30px;
    }

    .image {
        width: 60px;
    }

    .nav-links {
        width: 100%;
        padding-right: 40px;
    }

    /* main */
    main {
        margin-top: 80px;
    }

    .block {
        width: 80%;
    }

    .pic img {
        width: 200px;
        height: auto;
    }

    .counter {
        margin-bottom: 20px;
    }

    .text {
        width: 100%;
        padding-left: 40px;
        padding-right: 40px;
    }

    /* card_home */
    .slidershow {
        height: auto;
        padding-bottom: 10px;
    }
    .slide_img {
        height: 300px;
    }
    .rammojammo_slide_img {
        width: 80%;
    }
    
    /* card_deal */
    .card_deal {
        height: auto;
    }
    .card_deck img {
        height: 300px;
        width: auto;
    }
    .alert_text {
        margin-top: 100px;
    }

    /* footer */
    footer {
        height: 200px;
    }

}

