<html>
    <head>
        <meta charset="UTF-8">
        <title>Card Randomizer</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='javascript/img.js') }}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
        <header class="header">
            <h1>
                <a href="{{ url_for('home') }}"><img src="{{ url_for('image.static', filename='DLX Design Lab Logo.png') }}" width="80px"></a>
            </h1>
            <nav>
                <ul>
                    <a href="{{ url_for('cards01_home') }}">character</a>
                    <a href="{{ url_for('cards02_home') }}">context</a>
                    <a href="{{ url_for('cards03_home') }}">parameter</a>
                    <a href="{{ url_for('cards04_home') }}">rammojammo</a>
                    <span class="admin">
                    <a class="admin" href="{{ url_for('admin_login') }}">admin</a>
                    </span>
                </ul>
            </nav>
        </header>      
        <hr>

        {% block content %}{% endblock %}
        
        <footer>
            <small class="copyright">&copy; 2020 DLX Design Lab</small>
        </footer>
    </body>
</html>