{% extends "base.html" %}

{% block content %}
    <div class="card_deal">
        {% if cards_folder == "rammojammo_cards" %}    
            <div class="popup" id="js-popup">
                <div class="popup-inner">
                    <div class="close-btn" id="js-close-btn"><i class="fas fa-times"></i></div>
                    <img src="{{ url_for('image.static', filename = 'taptoflip.jpg') }}" alt="popup_image">
                    <p>Click card to see other side</p>
                </div>
                <div class="black-background" id="js-black-bg"></div>
            </div>
            <div class="flip_card">
                <div id="flipping_card" class="flip_card_inner">
                    <div class="flip_card_front">
                        <img id="jammo_imageid_front" class="img_front" style="" src="{{ url_for('image.static', filename = 'img_trans.gif') }}" alt="">
                    </div>
                    <div class="flip_card_back">  
                        <img id="jammo_imageid_back" class="img_back" style="" src="{{ url_for('image.static', filename = 'img_trans.gif') }}" alt="">
                    </div>
                </div>
            </div>   
        {% else %}
            <div class="card_deck">
                <img id="imageid" src="{{ url_for('image.static', filename = cards_folder + '/card-1.jpg') }}">
            </div>
        {% endif %}

        <p class="counter">
            <span id="count">1</span><span> / {{ cardsNum }}</span>
        </p>
        <div class="button">
            <button class="deal" onclick="randomize_image({{ cardsNum }}, '{{ cards_folder }}')">DEAL</button>
        </div>
    </div>
    
    <script>
        /* popup note */
        window.onload = function() {
            var popup = document.getElementById('js-popup');
            if(!popup) return;
                popup.classList.add('is-show');

            var blackBg = document.getElementById('js-black-bg');
            var closeBtn = document.getElementById('js-close-btn');

            closePopUp(blackBg);
            closePopUp(closeBtn);

            function closePopUp(elem) {
            if(!elem) return;
                elem.addEventListener('click', function() {
                    popup.classList.remove('is-show');
                })
            }
        }
        
        /* flipping cards */
        $("#flipping_card").flip({
            axis: 'y',
            trigger: 'click',
            front: '.flip_card_front',
            back: '.flip_card_back',
            autoSize: true
        });

        /* flip timer */ 
        // var flip_timer = setInterval(timerfunc, 2000);
        // function timerfunc() {
        //     $("#flipping_card").flip('toggle');
        // };

        // document.getElementById("flipping_card").addEventListener("click", clearTimeout(flip_timer));


        /* randomize cards */
        var cards_cache = [];
        randomize_image({{ cardsNum }}, '{{ cards_folder }}')

        function randomize_image(numOfCards, cards_folder) {
            //console.log(numOfCards)
            //console.log(cards_folder)
            $("#flipping_card").flip(false);
            if (cards_cache.length >= numOfCards) {
                $.alert({
                    icon: 'fas fa-exclamation-circle',
                    title: 'Reached end of deck!',
                    content: 'Press OK to shuffle the deck',
                    useBootstrap: false,
                    theme: 'modern'
                });
                // alert("You have reached the end of the deck...!\nPress OK to shuffle the deck")
                cards_cache = [];
            } 
            while (true) {
                var r = Math.floor(Math.random() * numOfCards) + 1;
                if (cards_cache.indexOf(r) === -1) {
                    cards_cache.push(r);
                    break;
                }
            }
            var imgName = "card-" + r + ".jpg";
            var imgPath = "../../static/image/" + cards_folder + "/" + imgName
            if (cards_folder === "rammojammo_cards") {
                document.getElementById('jammo_imageid_front').style.background = "url("+ imgPath +") 0 0 / auto 320px"
                document.getElementById('jammo_imageid_back').style.background = "url("+ imgPath +") -280px 0 / auto 320px"
            } else {
                document.getElementById("imageid").src = imgPath; 
            }
            document.getElementById("count").innerHTML = cards_cache.length;
        } 
    </script>
{% endblock %}